body {
	background-color: white;
	font-family: verdana;
	font-size: 10pt;
}
a {
	text-decoration: none;
}
ul {
	margin: 0px 0px 0px 0px;
}
table {
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	padding: 2px 4px 2px 4px; /* top right bottom left */
	vertical-align: top;
	white-space: nowrap;
}
.section {
	background-color: rgb(221,221,221);
	font-weight: bold;
	text-align: center;
}
.expandCollapse {
	color: rgb(140,140,140);
}
.mapLinkHidden {
	color: transparent;
}
.mapLink {
	color: rgb(140,140,140);
	cursor: pointer;
}
.mapLinkWithBox {
	color: rgb(140,140,140);
	cursor: pointer;
	position: relative;
}
.mapLinkBox {
	background-color: rgb(240,255,255);
	border: 2px solid rgb(128,0,128);
	border-radius: 20px;
	box-shadow: 0 0 6px 0 rgb(128,0,128); /* offset-x offset-y blur-radius spread-radius color */
	cursor: auto;
	padding: 4px 10px 4px 10px; /* top right bottom left */
	position: absolute;
	bottom: 14px;
	left: -14px;
	white-space: nowrap;
}
.mapLinkBox ul {
	padding-left: 20px;
}
#peakTable.landColumn td:nth-child(3) {font-size: 9pt;} /* Land Management */
#peakTable.landColumn td:nth-child(4) {text-align: right;} /* Elevation */
#peakTable.landColumn td:nth-child(6) {text-align: right;} /* Prominence */
#peakTable.landColumn td:nth-child(12) {text-align: center;} /* PY/VR/HPS */
#peakTable.noLand td:nth-child(3) {text-align: right;} /* Elevation */
#peakTable.noLand td:nth-child(5) {text-align: right;} /* Prominence */
#peakTable.noLand td:nth-child(11) {text-align: center;} /* PY/VR/HPS */
/*
	Land Management Classes
	-----------------------
	BLM = Bureau of Land Management
	BLMW = BLM Wilderness
	DOD = Department of Defense
	FS = U.S. Forest Service (National Forest)
	FSW = Forest Service Wilderness
	FWS = U.S. Fish & Wildlife Service
	NPS = National Park Service
	Rez = Indian Reservation
	SP = State Park
*/
.land .landBLM  {background-color: rgb(240,248,255);}
.land .landBLMW {background-color: rgb(224,255,255);}
.land .landDOD  {background-color: rgb(200,220,245);}
.land .landFS   {background-color: rgb(255,240,240);}
.land .landFSW  {background-color: rgb(255,220,220);}
.land .landFWS  {background-color: rgb(230,200,160);}
.land .landNPS  {background-color: rgb(255,255,128);}
.land .landRez  {background-color: rgb(255,222,173);}
.land .landSP   {background-color: rgb(250,250,210);}

.land tr.climbed > td:nth-child(5) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.0), rgba(173,255,47,0.2));
}
.land tr.climbed > td:nth-child(6) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.2), rgba(173,255,47,0.4));
}
.land tr.climbed > td:nth-child(7) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.4), rgba(173,255,47,0.5));
}
.land tr.climbed > td:nth-child(8) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.5), rgba(173,255,47,0.6));
}
.land tr.climbed > td:nth-child(9) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.6), rgba(173,255,47,0.7));
}
.land tr.climbed > td:nth-child(10) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.7), rgba(173,255,47,0.8));
}
.land tr.climbed > td:nth-child(11) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.8), rgba(173,255,47,0.9));
}
.land tr.climbed > td:nth-child(12) {
	background-image: linear-gradient(to right, rgba(173,255,47,0.9), rgba(173,255,47,1.0));
}
.land tr.climbed > td:nth-child(13) {
	background-color: rgb(173,255,47);
}
.land tr.climbed > td:nth-child(14) {
	background-color: rgb(173,255,47);
}
.land tr.emblem > td:nth-child(1) {
	background-color: rgb(238,130,238);
	color: rgb(255,255,255);
}
.land tr.emblem > td:nth-child(2) {
	background-image: linear-gradient(to right, rgba(238,130,238,1) 50%, rgba(238,130,238,0));
}
.land tr.mtneer > td:nth-child(1) {
	background-color: rgb(135,206,250);
	color: rgb(255,255,255);
}
.land tr.mtneer > td:nth-child(2) {
	background-image: linear-gradient(to right, rgba(135,206,250,1) 50%, rgba(135,206,250,0));
}
.lcb.emblem, .classic .emblem {
	background-color: rgb(238,130,238);
}
.lcb.mtneer, .classic .mtneer {
	background-color: rgb(135,206,250);
}
.lcb.climbed, .classic .climbed {
	background-color: rgb(173,255,47);
}
.suspended td:first-child {
	color: red;
}
select {
	font-family: verdana;
	font-size: 10pt;
}
.div50 {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
#header {
	position: relative;
}
#legendLink {
	color: rgb(0,0,238);
	cursor: pointer;
	display: inline-block;
	font-size: 8pt;
	position: absolute;
	right: 10px;
	bottom: 3px;
}
#legendLink:active {
	color: rgb(255,0,0);
}
#legend {
	background-color: rgb(240,255,255);
	border: 2px solid rgb(128,0,128);
	border-radius: 20px;
	box-shadow: 0 0 6px 0 rgb(128,0,128); /* offset-x offset-y blur-radius spread-radius color */
	display: none;
	padding: 4px 10px 4px 10px; /* top right bottom left */
	position: fixed;
	top: 10px;
	right: 10px;
}
.wide {
	width: 100%;
}
#closeLegend {
	color: rgb(0,0,238);
	cursor: pointer;
	display: inline-block;
}
#closeLegend:active {
	color: rgb(255,0,0);
}
.lcb { /* Legend Color Box */
	width: 50px;
	height: 20px;
	border: 1px solid rgb(0,0,0);
	display: inline-block;
	margin: 2px 2px 2px 2px; /* top right bottom left */
	vertical-align: middle;
}
.lab { /* Legend Abbreviation Box */
	width: 50px;
	display: inline-block;
	text-align: center;
}
.abbr1 {
	font-size: 8pt;
}
.abbr2 {
	display: inline-block;
	font-size: 9pt;
}
